/*style for search session*/

.begin-session {
    height: 100vh;
}

.search-session {
    height: calc(100vh - 60px);
}

.results {
    margin-top: 20px;
}

.scrollable {
    height: calc(0.60*(100vh - 60px));
    overflow-y: scroll;
}

