
/*CSS for searchCard Component*/

.mid-card { /* before submitted once */
    border-radius: 10px;
    
}
.top-card { /* after submitted once*/
    border-radius: 10px;
    height: calc(0.40*(100vh - 60px));
    
}
